main {
    font-family: sans-serif;
}

button,
#space-holder,
#output {
    font-size: 30px;
}

.main-container {
    width: 33.3%;
    margin: 0 auto;
    border: 5px solid gray;
    background-color: black;
    padding: 25px;
}

.row:not(#output) {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px auto;
}

button {
    width: 25%;
    height: 50px;
    margin: 0 2.5px;
    border-radius: 10px;
    background-color: black;
}

#space-holder {
    display: inline-block;
    width: 20%;
    height: auto;
}

#output {
    text-align: right;
    width: 100%;
    border: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.operators {
    background-color: orange;
}