main {
    font-family: sans-serif;
}

.main-container {
    width: 50%;
    margin: 50px auto;
}

.row {
    margin: 5px 0;
}

button {
    width: 20%;
    height: 50px;
    margin: 0;
}

#space-holder {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
}

#output {
    text-align: right;
    font-size: 25px;
    width: 80%;
    border: 5px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}